button, .button {
  padding: 0;
  border:none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(91,96,97, 0.2), 0 4px 5px 0 rgba(91,96,97, 0.14), 0 1px 1px 0 rgba(91,96,97, 0.12);
  transition: all 0.25s ease-in-out;
  transform-origin: bottom;
  font-size: 1rem;
  line-height: 1;
  padding-right: .5rem;
  &--primary {
   height: 48px;
   .icon {
     width: 48px;
     text-align: center;
   }
 }

  &--secondary {
    height: 32px;
    .icon {
      width: 32px;
      text-align: center;
    }
  }

  &:hover {
   background: $color-green-dark;
   box-shadow: 0 1px 1px -2px rgba(91,96,97, 0.2), 0 2px 2px 0 rgba(91,96,97, 0.14), 0 1px 5px 0 rgba(91,96,97, 0.12);
    transform: scale(.975);
  }
  &--purchase {
    background: $color-green-medium;
    color: $color-white;
  }
  &.add-to-basket {
    width: 100%;
    background: $color-green-medium;
    color: $color-white;
  }

  &.show-related {
    background:$color-white;
    color:  $color-green-medium;
    border: 1px solid  $color-green-medium;
    text-decoration: none;
  }

  &.basket {
    background:$color-white;
    color:  $color-grey-dark;
    border: 1px solid  $color-grey-dark;
    padding-right: 0;
    @include breakpoint(md) {
      padding-right: 8px;
    }
  }
  &.clear-all {
    background: $color-white;
    color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    &.inactive {
      color: $color-grey-medium-light;
      border: 1px solid $color-grey-medium-light;
      pointer-events: none;
      box-shadow: none;
    }
  }
  &.submit {
    background: $color-green-medium;
    color: $color-white;
    border: 1px solid $color-green-medium;

    &.inactive {
      background: $color-grey-medium-light;
      border: 1px solid $color-grey-medium-light;
      pointer-events: none;
      box-shadow: none;
    }
  }
}

.prev-slide, .next-slide {
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 99;
  display: block;
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  background: $color-green-medium;
  color: $color-white;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(91,96,97, 0.2), 0 4px 5px 0 rgba(91,96,97, 0.14), 0 1px 1px 0 rgba(91,96,97, 0.12);
  transition: all 0.25s ease-in-out;
  transform-origin: bottom;
  @include breakpoint(medium) {
    width: 2rem;
    height: 2rem;
  }
  &:hover {
    background: $color-green-dark;
    box-shadow: 0 1px 1px -2px rgba(91,96,97, 0.2), 0 2px 2px 0 rgba(91,96,97, 0.14), 0 1px 5px 0 rgba(91,96,97, 0.12);
    transform: scale(.975);
  }
}

.prev-slide {
  left: .5rem;
}
.next-slide {
  right: .5rem;
}
@include breakpoint(medium) {
  .prev-slide {
    left: 1rem;
  }
  .next-slide {
    right: 1rem;
  }
}
