$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts/iconfonts" !default;

$icon-tag: "\f02b";
$icon-phone: "\f095";
$icon-chevron-right: "\e900";
$icon-chevron-left: "\e901";
$icon-check: "\f00c";
$icon-trash: "\f1f8";
$icon-shopping-basket: "\f291";
$icon-envelope-open: "\f2b6";
$icon-cart: "\e93a";
